<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>qucikSureMobileServer</display-name>
  
  <!-- 欢迎页配置 -->
  <welcome-file-list>
      <welcome-file>views/quicksure/jsp/quicksurehome.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- session时间配置 -->
  <session-config>
  	  <session-timeout>20</session-timeout>
  </session-config>
  
  <!-- context加载 -->
  <context-param>
	  <param-name>contextConfigLocation</param-name>
	  <param-value>classpath:spring.xml;classpath:spring-myBatis.xml</param-value>
  </context-param>
  <context-param> 
	  <param-name>log4jConfigLocation</param-name> 
	  <param-value>/WEB-INF/classes/log4j.properties</param-value> 
  </context-param> 
  <!-- 防止在同一个tomcat下启动时，webAppRootKey属性值冲突 -->
  <context-param>
      <param-name>webAppRootKey</param-name>
      <param-value>app1.root</param-value>
  </context-param>
  
  <!-- listener配置 -->
  <listener> 
  	  <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class> 
  </listener>
  <listener>
  	  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
      <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  
  <!-- fileter配置 -->
  <filter>
	  <filter-name>filterEncoding</filter-name>
	  <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	  <init-param>
		  <param-name>encoding</param-name>
		  <param-value>utf-8</param-value>
	  </init-param>
  </filter>
  <filter-mapping>
	  <filter-name>filterEncoding</filter-name>
	  <url-pattern>/*</url-pattern>
  </filter-mapping>  
  <filter> 
	  <filter-name>LudiMobileFilter</filter-name> 
	  <filter-class>com.quicksure.mobile.filter.LudiMobileFilter</filter-class> 
  </filter>   
  <filter-mapping> 
	  <filter-name>LudiMobileFilter</filter-name> 
	  <url-pattern>/*</url-pattern>   
  </filter-mapping>
  
  <!-- servlet配置 -->
  <servlet>
	  <servlet-name>DispatcherServlet</servlet-name>
	  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	  <init-param>
		  <param-name>contextConfigLocation</param-name>
		  <param-value>classpath:springMVC-config.xml</param-value>
	  </init-param>
  	  <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
	  <servlet-name>DispatcherServlet</servlet-name>
	  <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <!-- 出错页面定义 -->
  <error-page>
      <error-code>400</error-code>
      <location>/views/quicksure/jsp/error.jsp</location>
  </error-page>
  <error-page>
	  <error-code>401</error-code>
	  <location>/views/quicksure/jsp/error.jsp</location>
  </error-page>
  <error-page>
	  <error-code>404</error-code>
	  <location>/views/quicksure/jsp/error.jsp</location>
  </error-page>
  <error-page>
      <error-code>500</error-code>
      <location>/views/quicksure/jsp/error.jsp</location>
  </error-page>
  <error-page>
      <error-code>501</error-code>
      <location>/views/quicksure/jsp/error.jsp</location>
  </error-page>
  <error-page>
      <error-code>502</error-code>
      <location>/views/quicksure/jsp/error.jsp</location>
  </error-page>
  <error-page>
      <error-code>503</error-code>
      <location>/views/quicksure/jsp/error.jsp</location>
  </error-page>
</web-app>
